## Programa Ingenias+ Data Science

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [75]:
import pandas as pd
import numpy as np

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [38]:
# Leo los datos en un DataFrame
from google.colab import files

In [39]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [40]:
df = pd.read_csv("/content/drive/MyDrive/data_science/life_expectancy_data.csv")
df.shape

(2938, 22)

In [42]:
df.dtypes
print('\nLos datos son de tipos:\n', df.dtypes)

Los datos son de tipos:
 Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [43]:
df.head(1000)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Germany,2014,Developed,89.0,69.0,2,11.03,941.756291,88.0,443,...,94.0,11.30,95.0,0.1,4792.652880,89825.0,1.1,1.1,0.920,17.0
996,Germany,2013,Developed,86.0,71.0,2,10.94,895.877950,88.0,1771,...,94.0,11.16,95.0,0.1,4653.911430,864565.0,1.1,1.1,0.919,16.9
997,Germany,2012,Developed,86.0,71.0,2,11.18,839.913320,88.0,166,...,94.0,1.99,95.0,0.1,4465.248910,8425823.0,1.1,1.1,0.916,16.9
998,Germany,2011,Developed,85.0,74.0,2,11.20,869.790735,88.0,1607,...,94.0,1.93,95.0,0.1,4681.327960,8274983.0,1.1,1.1,0.912,16.8
999,Germany,2010,Developed,81.0,76.0,2,11.20,7584.078579,88.0,780,...,94.0,11.25,95.0,0.1,41785.556910,8177693.0,1.1,1.1,0.907,16.7

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [44]:
# Obtengo el tipo de estructura de datos
type(df)

pandas.core.frame.DataFrame

4) ¿Cuantas filas y columnas tiene `expvida`?

In [45]:
# Uso .shape para obtener cantidad de filas y columnas
df = pd.read_csv("/content/drive/MyDrive/data_science/life_expectancy_data.csv")
df.shape

(2938, 22)

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [47]:
# Obtengo el nombre de las columnas
nombres_columnas = df.columns
print("Nombre de columnas:", nombres_columnas)

Nombre de columnas: Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [52]:
# Inspecciono las primeras filas
df.head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

7) Y ahora las 10 ultimas.

In [53]:
# Inspecciono las ultimas filas
df.tail(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,Zimbabwe,2009,Developing,50.0,587.0,30,4.64,1.040021,73.0,853,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
2929,Zimbabwe,2008,Developing,48.2,632.0,30,3.56,20.843429,75.0,0,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
2930,Zimbabwe,2007,Developing,46.6,67.0,29,3.88,29.814566,72.0,242,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
2931,Zimbabwe,2006,Developing,45.4,7.0,28,4.57,34.262169,68.0,212,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
2932,Zimbabwe,2005,Developing,44.6,717.0,28,4.14,8.717409,65.0,420,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [54]:
# Tipo de datos en cada columna
df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [56]:
# Obtengo la cantidad de datos faltantes en cada columna -
expvida = pd.read_csv("/content/drive/MyDrive/data_science/life_expectancy_data.csv")
datos_faltantes_por_columna = expvida.isnull().sum()
print(datos_faltantes_por_columna)

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [59]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan
datos_faltantes_por_columna = expvida.isnull().sum()
masnan = datos_faltantes_por_columna.max()
porcentaje_datos_faltantes = (masnan / len(expvida)) * 100
print("Máximo valor de datos faltantes:", masnan)
print("Porcentaje de datos faltantes: {:.2f}%".format(porcentaje_datos_faltantes)) #para mostrar el resultado del porcentaje con dos decimales: {:.2f}%

Máximo valor de datos faltantes: 652
Porcentaje de datos faltantes: 22.19%

In [60]:
# Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero
# y lo multiplico por 100
total_filas = expvida.shape[0]
porcentaje_datos_faltantes = (masnan / total_filas) * 100
print("Máximo valor de datos faltantes:", masnan)
print("Porcentaje de datos faltantes: {:.2f}%".format(porcentaje_datos_faltantes))

Máximo valor de datos faltantes: 652
Porcentaje de datos faltantes: 22.19%

In [61]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.
porcentaje_datos_faltantes = (masnan / total_filas) * 100
print(f"Máximo valor de datos faltantes: {masnan}")
print(f"Porcentaje de datos faltantes: {porcentaje_datos_faltantes:.2f}%")

Máximo valor de datos faltantes: 652
Porcentaje de datos faltantes: 22.19%

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [64]:
# Renombro columnas del DataFrame
expvida.rename(columns={"Life expectancy ": "life_expectancy", " BMI ": "bmi", "Measles ": "measles"}, inplace=True)
print(expvida.head())

       Country  Year      Status  life_expectancy  Adult Mortality  \
0  Afghanistan  2015  Developing             65.0            263.0
1  Afghanistan  2014  Developing             59.9            271.0
2  Afghanistan  2013  Developing             59.9            268.0
3  Afghanistan  2012  Developing             59.5            272.0
4  Afghanistan  2011  Developing             59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  measles  ...  \
0             62     0.01               71.279624         65.0     1154  ...
1             64     0.01               73.523582         62.0      492  ...
2             66     0.01               73.219243         64.0      430  ...
3             69     0.01               78.184215         67.0     2787  ...
4             71     0.01                7.097109         68.0     3013  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0    6.0               8.16         65.0        0.1  584.259210  33736494.0
1   58.0               8.18         62.0        0.1  612.696514    327582.0
2   62.0               8.13         64.0        0.1  631.744976  31731688.0
3   67.0               8.52         67.0        0.1  669.959000   3696958.0
4   68.0               7.87         68.0        0.1   63.537231   2978599.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5

[5 rows x 22 columns]

In [65]:
# Chequeo que se hayan reemplazado correctamente
print("Nombres de las columnas después de renombrar:")
print(expvida.columns)

Nombres de las columnas después de renombrar:
Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [68]:
# Obtengo el promedio de la columna
expvida = pd.read_csv("/content/drive/MyDrive/data_science/life_expectancy_data.csv")
promedio_vida = expvida['Life expectancy '].mean()
print("Promedio de expectativa de vida (Life expectancy):", promedio_vida)

Promedio de expectativa de vida (Life expectancy): 69.22493169398908

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [69]:
# Obtengo el promedio por pais
promedio_vida_por_pais = expvida.groupby('Country')['Life expectancy '].mean()
print(promedio_vida_por_pais)

Country
Afghanistan                           58.19375
Albania                               75.15625
Algeria                               73.61875
Angola                                49.01875
Antigua and Barbuda                   75.05625
                                        ...
Venezuela (Bolivarian Republic of)    73.38750
Viet Nam                              74.77500
Yemen                                 63.86250
Zambia                                53.90625
Zimbabwe                              50.48750
Name: Life expectancy , Length: 193, dtype: float64

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [72]:
# Maxima expectativa de vida usando numpy
max_vida_numpy = np.max(expvida['Life expectancy '])
print("Expectativa de vida más alta (usando NumPy):", max_vida_numpy, "País:", expvida.loc[expvida['Life expectancy '] == max_vida_numpy, 'Country'].iloc[0])

Expectativa de vida más alta (usando NumPy): 89.0 País: Belgium

In [80]:
# Maxima expectativa de vida usando pandas
expvida = pd.read_csv("/content/drive/MyDrive/data_science/life_expectancy_data.csv")
max_vida_pandas = expvida['Life expectancy '].max()
pais_vida_max = expvida.loc[expvida['Life expectancy '] == max_vida_pandas, 'Country'].iloc[0]
print("Expectativa de vida más alta (usando pandas):", max_vida_pandas, "País:", pais_vida_max)

Expectativa de vida más alta (usando pandas): 89.0 País: Belgium

iloc es un atributo de los DataFrames en pandas que se utiliza para acceder a los datos basándose en su posición numérica en lugar de utilizar etiquetas o nombres.

In [81]:
# Minima expectativa de vida usando numpy
min_vida_numpy = np.min(expvida['Life expectancy '])
print("Expectativa de vida más baja (usando NumPy):", min_vida_numpy, "País:", expvida.loc[expvida['Life expectancy '] == min_vida_numpy, 'Country'].iloc[0])

Expectativa de vida más alta (usando NumPy): 36.3 País: Haiti

In [83]:
# Minima expectativa de vida usando pandas
min_vida_pandas = expvida['Life expectancy '].min()
pais_vida_min = expvida.loc[expvida['Life expectancy '] == min_vida_pandas, 'Country'].iloc[0]
print("Expectativa de vida más baja (usando pandas):", min_vida_pandas, "País:", pais_vida_min)

Expectativa de vida más baja (usando pandas): 36.3 País: Haiti

In [88]:
# Muestro los resultados maximos
expectativa_vida_maxima = expvida['Life expectancy '].max()
datos_maximos = expvida[expvida['Life expectancy '] == expectativa_vida_maxima]
print("Resultados Máximos:")
print(datos_maximos)

Resultados Máximos:
          Country  Year      Status  Life expectancy   Adult Mortality  \
241       Belgium  2014   Developed              89.0             76.0
915       Finland  2014  Developing              89.0             78.0
937        France  2008  Developing              89.0             88.0
938        France  2007  Developing              89.0             89.0
995       Germany  2014   Developed              89.0             69.0
1293        Italy  2004   Developed              89.0             66.0
1850  New Zealand  2010   Developed              89.0             71.0
1916       Norway  2009   Developed              89.0             67.0
2056     Portugal  2014   Developed              89.0             78.0
2433        Spain  2007   Developed              89.0             72.0
2513       Sweden  2007   Developed              89.0             63.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
241               0    12.60             7163.348923         98.0        70
915               0     8.80             6164.455402          NaN         0
937               3    11.90             7002.785925         47.0       604
938               3    12.20               64.737149         42.0        39
995               2    11.03              941.756291         88.0       443
1293              2     8.98             4270.914882         96.0       599
1850              0     9.62             6664.148708          9.0        43
1916              0     6.68              142.374943          NaN         2
2056              0     9.88              271.254553         98.0         0
2433              2    11.05              510.932701         96.0       267
2513              0     6.90             7593.391622          NaN         1

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
241   ...   99.0               1.59         99.0        0.1  47439.39684
915   ...   98.0               9.68         98.0        0.1  49914.61864
937   ...   98.0               1.57         98.0        0.1  45413.65710
938   ...   99.0               1.45         98.0        0.1    416.58397
995   ...   94.0              11.30         95.0        0.1   4792.65288
1293  ...   97.0               8.49         94.0        0.1  31174.56118
1850  ...   93.0              11.20         93.0        0.1  33691.34837
1916  ...   94.0               9.49         94.0        0.1    817.77681
2056  ...   98.0               9.50         98.0        0.1   2277.53613
2433  ...   96.0               8.36         96.0        0.1   3279.41400
2513  ...   98.0               8.92         98.0        0.1  53324.37937

      Population   thinness  1-19 years   thinness 5-9 years  \
241     112957.0                    1.0                  1.0
915    5461512.0                    0.9                  0.8
937    6437499.0                    0.6                  0.6
938    6416229.0                    0.6                  0.6
995      89825.0                    1.1                  1.1
1293  57685327.0                    0.5                  0.5
1850         NaN                    0.3                  0.3
1916   4828726.0                    0.7                  0.7
2056     14162.0                    0.7                  0.5
2433   4522683.0                    0.6                  0.5
2513    914892.0                    1.3                  1.3

      Income composition of resources  Schooling
241                             0.890       16.3
915                             0.890       17.0
937                             0.877       16.1
938                             0.873       16.1
995                             0.920       17.0
1293                            0.846       15.6
1850                            0.899       20.3
1916                            0.936       17.4
2056                            0.837       16.8
2433                            0.849       16.0
2513                            0.895       15.8

[11 rows x 22 columns]

In [87]:
# Muestro los resultados minimos
expectativa_vida_minima = expvida['Life expectancy '].min()
datos_minimos = expvida[expvida['Life expectancy '] == expectativa_vida_minima]
print("Resultados Mínimos:")
print(datos_minimos)

Resultados Mínimos:
     Country  Year      Status  Life expectancy   Adult Mortality  \
1127   Haiti  2010  Developing              36.3            682.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
1127             23     5.76               36.292918          NaN         0

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
1127  ...   66.0                8.9         66.0        1.9  662.279518

      Population   thinness  1-19 years   thinness 5-9 years  \
1127   9999617.0                    4.0                  4.0

      Income composition of resources  Schooling
1127                             0.47        8.6

[1 rows x 22 columns]

In [89]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo
expectativa_vida_maxima = expvida['Life expectancy '].max()
filas_maximas = expvida.loc[expvida['Life expectancy '] == expectativa_vida_maxima]
print("Filas con valor igual al máximo de expectativa de vida:")
print(filas_maximas)

Filas con valor igual al máximo de expectativa de vida:
          Country  Year      Status  Life expectancy   Adult Mortality  \
241       Belgium  2014   Developed              89.0             76.0
915       Finland  2014  Developing              89.0             78.0
937        France  2008  Developing              89.0             88.0
938        France  2007  Developing              89.0             89.0
995       Germany  2014   Developed              89.0             69.0
1293        Italy  2004   Developed              89.0             66.0
1850  New Zealand  2010   Developed              89.0             71.0
1916       Norway  2009   Developed              89.0             67.0
2056     Portugal  2014   Developed              89.0             78.0
2433        Spain  2007   Developed              89.0             72.0
2513       Sweden  2007   Developed              89.0             63.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
241               0    12.60             7163.348923         98.0        70
915               0     8.80             6164.455402          NaN         0
937               3    11.90             7002.785925         47.0       604
938               3    12.20               64.737149         42.0        39
995               2    11.03              941.756291         88.0       443
1293              2     8.98             4270.914882         96.0       599
1850              0     9.62             6664.148708          9.0        43
1916              0     6.68              142.374943          NaN         2
2056              0     9.88              271.254553         98.0         0
2433              2    11.05              510.932701         96.0       267
2513              0     6.90             7593.391622          NaN         1

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
241   ...   99.0               1.59         99.0        0.1  47439.39684
915   ...   98.0               9.68         98.0        0.1  49914.61864
937   ...   98.0               1.57         98.0        0.1  45413.65710
938   ...   99.0               1.45         98.0        0.1    416.58397
995   ...   94.0              11.30         95.0        0.1   4792.65288
1293  ...   97.0               8.49         94.0        0.1  31174.56118
1850  ...   93.0              11.20         93.0        0.1  33691.34837
1916  ...   94.0               9.49         94.0        0.1    817.77681
2056  ...   98.0               9.50         98.0        0.1   2277.53613
2433  ...   96.0               8.36         96.0        0.1   3279.41400
2513  ...   98.0               8.92         98.0        0.1  53324.37937

      Population   thinness  1-19 years   thinness 5-9 years  \
241     112957.0                    1.0                  1.0
915    5461512.0                    0.9                  0.8
937    6437499.0                    0.6                  0.6
938    6416229.0                    0.6                  0.6
995      89825.0                    1.1                  1.1
1293  57685327.0                    0.5                  0.5
1850         NaN                    0.3                  0.3
1916   4828726.0                    0.7                  0.7
2056     14162.0                    0.7                  0.5
2433   4522683.0                    0.6                  0.5
2513    914892.0                    1.3                  1.3

      Income composition of resources  Schooling
241                             0.890       16.3
915                             0.890       17.0
937                             0.877       16.1
938                             0.873       16.1
995                             0.920       17.0
1293                            0.846       15.6
1850                            0.899       20.3
1916                            0.936       17.4
2056                            0.837       16.8
2433                            0.849       16.0
2513                            0.895       15.8

[11 rows x 22 columns]

In [90]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo
expectativa_vida_minima = expvida['Life expectancy '].min()
filas_minimas = expvida.loc[expvida['Life expectancy '] == expectativa_vida_minima]
print("Filas con valor igual al mínimo de expectativa de vida:")
print(filas_minimas)

Filas con valor igual al mínimo de expectativa de vida:
     Country  Year      Status  Life expectancy   Adult Mortality  \
1127   Haiti  2010  Developing              36.3            682.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
1127             23     5.76               36.292918          NaN         0

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
1127  ...   66.0                8.9         66.0        1.9  662.279518

      Population   thinness  1-19 years   thinness 5-9 years  \
1127   9999617.0                    4.0                  4.0

      Income composition of resources  Schooling
1127                             0.47        8.6

[1 rows x 22 columns]

15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [91]:
# Obtengo los valores unicos de la columna status
categorias_status = expvida['Status'].unique()
cantidad_categorias = len(categorias_status)
print("Cantidad de categorías en la columna 'Status':", cantidad_categorias)

Cantidad de categorías en la columna 'Status': 2

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [92]:
# Cuento cuantos valores hay de cada categoria
paises_por_status = expvida['Status'].value_counts()
print("Cantidad de países por categoría de 'Status':")
print(paises_por_status)

Cantidad de países por categoría de 'Status':
Developing    2426
Developed      512
Name: Status, dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [93]:
# Cuento cuantas filas tienen valores distintos de cero
datos_2015 = expvida[expvida['Year'] == 2015]
paises_con_sarampion_2015 = datos_2015['Measles '].count()
print("Cantidad de países con casos de sarampión en el año 2015:", paises_con_sarampion_2015)

Cantidad de países con casos de sarampión en el año 2015: 183